body {
  background-color: turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.center {
  font-size: 28px;
}
input {
  font-size: 30px;
}
button {
  display: block;
  margin: 50px 130px;
  font-size: 30px;
}
